<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	
	<title>Carousel With Variable Elements Widths | Lemmon jQuery</title>

	<script src="http://static.lemmonjuice.com/public/jquery/jquery-1.6.min.js"></script>
    <script>
      $(function() {
        $('#baz').appendTo('#bar');
      });
    </script>
</head>

<body>
  <div id="foo">
    foo
    <div id="baz">
      baz
    </div>
  </div>
  <div id="bar">
    bar
  </div>

</body>
</html>
